.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    display: flex;
    position: relative;
  }
  
  .text {
    margin: 0 25px;
  }
  
  .text h1 {
    color: #444bbc;
    font-family: fontMooli;
  }
  
  .icon {
    position: absolute;
    left: -30px;
    border: solid 1px #444bbc;
    border-radius: 50%;
  }
  
  .form {
    margin: 20px;
  }
  
  .columns {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
  }
  
  .column input {
    border-radius: 15px;
    border: 1px solid #444bbc;
    margin: 5px 0;
    padding: 7px;
  }
  
  .column select {
    border-radius: 15px;
    border: 1px solid #444bbc;
    margin: 5px 0;
    padding: 7px;
  }
  
  .btnSubmit {
    margin-top: 15px;
    margin-left: calc(60% - 139px);
  }
  
  .btnSubmit input {
    border: 1px solid #444bbc;
    color:#444bbc;
    background-color: #FFFFFF;;
    border-radius: 20px;
    padding: 10px 50px;
  }
  .btnSubmit :hover{
    background-color: #444bbc;
    color: #FFFFFF;
    cursor: pointer;
  }
  .back {
    display: flex;
    position: absolute;
    content: 'aaaaaaaaaaaaaa';
    z-index: 100;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(239,239,240,1) 100%, rgba(255,255,255,1) 100%);
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
  
  .message {
    position: absolute;
    z-index: 200;
    width: 300px;
    height: 120px;
    border-radius: 5px;
    background-color: #444bbc;
    color: #FFFFFF;
    text-align: center;
    padding: 30px;
  }
  .border{
    border: solid 1px #444bbc;
    border-radius: 50%;
  }

  .close {
    cursor: pointer;
    padding: 2px;
    border: 1px solid #FFFFFF;
    margin: 20px;
  }
  
  .close:hover {
    background-color: #636ae9;
    border: 0;
  
  }
  
  .loading {
    position: absolute;
    z-index: 200;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #444bbc;
    color: #FFFFFF;
    padding: 40px 38px;
  }
  
  .loading img {
    -webkit-animation: 1s rotate linear infinite;
    animation: 1s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  
  @keyframes rotate {from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}}

/*responsive*/

@media (max-width: 600px) {
  .columns{
    margin-top: 5rem;
    justify-content: center;
    display: grid;
    width: 350px;
    grid-auto-columns: auto;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }
  
  .text h1{
    font-size: 1rem;
    margin-left: 2rem;
  }
  .text h4{
    font-size: 0.7rem;
    margin-left: 2rem;
  }
  .content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .title{
    display: flex;
    flex-wrap: wrap;
  }
  .icon{
    margin-left: 55%;
    margin-top: 1.5rem;
  }
  .btnSubmit{
    margin-left: 28%;
  }
}