.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner {
  text-align: center;
  padding: 3rem 0;
}

.banner h1   {
  color: #444bbc;
  font-family: fontMooli;
}

.description {
  width: 600px;
  margin: 50px;
  text-align: justify;
  color: #494949;
}

.cards {
  display: flex;
  margin: 50px;
}

.card {
  position: relative;
  width: 200px;
  height: 220px;
  padding: 60px 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #444bbc;
  color: #FFFFFF;
  text-align: center;
}

.card p {
  margin: 30px 0;
}

.product {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 40px;
  background-color: #FFFFFF;
  top: -50px;
  right: 45px;
}

.icon {
  margin: 15px 0;
}

@media (max-width: 768px){
  .description{
    padding: 1em 10rem;
    overflow: hidden;
    height: fit-content;
  }
  .card{
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0px 0px;
    margin: 5px;
    border-radius: 10px;
    background-color: #444bbc;
    color: #FFFFFF;
    text-align: center;
  } 
  .product {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #FFFFFF;
    top: -60px;
    right: 10px;
  }
  .icon {
    margin: 5px 0;
  }
  .main{
    height: 100vh;
    gap: 0;
  }
  .banner{
    margin-top: 2rem;
  }
}